<div class="container">
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
  <div class="story">
    <div class="thumbnail">
      <img src="https://i.imgur.com/vQYUicd.png" />
    </div>
    <span>9gag</span>
  </div>
</div>
