h1 {
  background-color: red;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.menu-topo {
  width: 935px;
  height: 54px;
  padding: 0 12px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  height: 28px;

  border: 1px solid #dbdbdb;
  border-radius: 3px;

  background-color: #fafafa;
}

.header input::placeholder {
  text-align: center;
}

.nav {
  color: #000;
  font-size: 20px;
  display: flex;
}

.nav p {
  margin-left: 12px;
}
