<div class="post">
  <div class="info">
    <div class="user">
      <div class="profile-pic">
        <img src="https://i.imgur.com/vQYUicd.png" alt="profile-pic" />
      </div>
      <p class="username">User1</p>
    </div>
    <img src="https://i.imgur.com/vQYUicd.png" alt="options" class="options" />
  </div>
  <img
    src="https://i.imgur.com/vQYUicd.png"
    alt="post-image"
    class="post-image"
  />
  <div class="post-content">
    <div class="reaction-wrapper">
      <img src="https://i.imgur.com/vQYUicd.png" alt="" class="icon" />
      <img src="https://i.imgur.com/vQYUicd.png" alt="" class="icon" />
      <img src="https://i.imgur.com/vQYUicd.png" alt="" class="icon" />
      <img src="https://i.imgur.com/vQYUicd.png" alt="" class="icon save" />
    </div>
    <p class="likes">8,785 cutidas</p>
    <p class="description">
      <span>username</span>Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Cumque ipsa tempore incidunt porro? Similique rerum labore cum sint
      atque suscipit modi dignissimos unde cumque velit, praesentium cupiditate
      sed quam facere nihil! Quae ipsum magni inventore. Dolore vel voluptatum
      tempora!
    </p>
    <p class="post-time">5 horas atrás</p>
  </div>
</div>
